body{ font-family: Montserrat;
background-color:#0a130f}

#header{
background-position: 8% 8% ;
width: 100%;


}
.texto1{color:white; 
    font-size: 28px ;   
    width: 40%;
    display:inline-block;
    margin: 0% 8% 5% 8%;
}
.img-jean{width: 24%;
display: inline-block;
margin: 10px;
}

body{ font-family: Montserrat;}


.h1{color:white; 
    text-align: center;
     margin:5% 36% 5% 38%;
     font-size: 40px;
}

.cidade-estado{color:white; 
 margin: 0% 0% 0% 8%;}

 .habilidade{ 
    color: white;
    text-align: center;
    font-size: 35px;
 }
em{color:white; text-align: center;margin: auto;}

ul{color:white; 
   text-align: center;
   padding: 10px 13px;

}

.li-impar{
    color: chocolate;
    text-align: center;
}

.button{ 
    color:white;
    font-size: 20px;
    background-color: rgb(163, 38, 0);
    padding: 10px 13px;
    border-radius: 8%;
    display: inline-block;
    margin: 0% 45.5% 0% ;
    text-decoration: none;
}
.button1{ 
    color:white;
    font-size: 20px;
    background-color: rgb(6, 7, 100);
    padding: 10px 21px;
    border-radius: 8%;
    border-radius: 8%;
    display: inline-block;
    margin: 0% 45.5% 0% ;
    text-decoration: none;
}
